<div class="grid justify-content-center align-items-center mt-5" style="height:90vh ;">
    <div class="w-11 col-12 justify-content-center md:w-9 lg:w-6 xl:w-4">
        <p-card styleClass="flex justify-content-center text-center p-2" header="Login">
            <div class="grid p-fluid">
                <div class="col-12">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText>
                        <label for="float-input">Usuario</label>
                    </span>
                </div>
                <div class="col-12">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText>
                        <label for="float-input">Contraseña</label>
                    </span>
                </div>
                <div class="col-12">
                    <p-button label="Iniciar Sesión" iconPos="left"></p-button>
                </div>
                <div class="col-12 text-left align-items-center">
                    <p-button label="No tienes una cuenta? Registrate aquí." styleClass="p-button-link text-left text-color">
                     </p-button>
                    <p-button label="Haz olvidado tu contraseña?" styleClass="p-button-link text-left "></p-button>
                </div>

            </div>

        </p-card>
    </div>

</div>